.toggle-button {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 20px;
    height: 25px; 
    width: 30px; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 0;
    box-sizing: border-box; 
}

.toggle-button:focus {
    outline: none; 
}

.toggle-button_line {
    width: 30px; 
    height: 2px; 
    background:  #d4d4dc;
}

// Media Queries 

// 4K Screens - 2560px 
@media screen and (max-width: 2560px) {
    .toggle-button {
        display: none;
    }
}

// Laptop L - 1440px
@media screen and (max-width: 1440px) {
    .toggle-button {
        display: none;
    }
}

// Laptop - 1024px 
@media screen and (max-width: 1024px) {
    .toggle-button {
        display: none;
    }
}

// Tablet - 768px 
@media screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-top: 15px;
        margin-left: 3em;
    }
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    .toggle-button {
        display: flex;
        margin-top: 14px;
        margin-left: 2rem;
        
    }
}

// Mobile Medium - 375px 
@media screen and (max-width: 375px) {
    .toggle-button {
        display: flex;
        margin-top: 14px;
        margin-left: 2rem; 
    }
}


// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    .toggle-button {
        display: flex;
        margin-top: 14px;
        margin-left: 1.5rem;
        font-size: 1rem; 
    }
}

// iPhone X - 375 x 812px 
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .toggle-button {
        display: flex; 
        margin-top: 19px;
    }
}