// Style Rules 
.resume_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    overflow-x: scroll;
    

    .resume_container {
        color: #1d1e22;
        width: 40vw;
        margin-left: 57px;
        text-align: left;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .resume_container a, p, h1, em {
        text-decoration: none;
        color: #1d1e22;
    }

    .resume_container a:hover, a:active {
        color: #C0C0C0;
    }
}

// 4K Screens - 2560px
@media screen and (max-width: 2560px) {
   .resume_wrapper {
       width: 100vw; 
       height: 65vh;

       .resume_container {
            width: 30vw;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 0.6rem;
       }
   }
}

// Laptop Large - 1440px
@media screen and (max-width: 1440px) {
    .resume_wrapper {
        width: 100vw; 
        height: 70vh;
 
        .resume_container {
            width: 30vw;
            padding-left: 0px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 20px;
            font-size: 0.7rem;
        }
    }
}

// Laptop - 1024px
@media screen and (max-width: 1024px) {
    .resume_wrapper {
        width: 100vw; 
        height: 65vh;
 
        .resume_container {
            width: 30vw;
            padding-left: 0px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 7.5px;
        }
    }
}

// Tablet - 768px
@media screen and (max-width: 768px) {
    .resume_wrapper {
        width: 100vw; 
        height: 65vh;
 
        .resume_container {
            width: 50vw;
            padding-left: 0px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 7.2px;
        }
    }
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    .resume_wrapper {
        width: 100vw; 
        height: 65vh;
 
        .resume_container {
            width: 65vw;
            padding-left: 0px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 0px;
            font-size: 7px;
        }
    }
}

@media screen and (max-width: 375px) {
    .resume_wrapper {
        width: 100vw; 
        height: 65vh;
 
        .resume_container {
            width: 75vw;
            padding-left: 0px;
            padding-right: 30px;
            padding-top: 40px;
            padding-bottom: 0px;
            font-size: 6.7px;
        }
    }
}

// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    .resume_wrapper {
        width: 100vw; 

        .resume_container {
            width: 100vw;
            padding-left: 0px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 0px;
            font-size: 7px;
        }
    }
}



