// Style Rules
.projects_wrapper {
    width: 100vw; 
    height: 65vh;
    display: flex; 
    flex-direction: row;
    justify-content: center;

    .projects_container {
        width: 40vw; 
    }

    .projects_heading {
        color: #1d1e22;
    }

    .projects_container p {
        text-align: center;
        flex-wrap: wrap;
        color: #1d1e22;
    }

    .crown-clothing-app {
        width: 40vw; 
        text-align: left;    
    }
}

// Media Queries

// // Tablet - 768px
// @media screen and (max-width: 768px) {
//     .projects_container {
//         width: 40vw;
//     }

//     .crown-clothing-app {
//         width: 50vw;
//     }
// }