.sideBar {
    text-decoration: none;
    height: 100%; 
    background: white; 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 400px; 
    z-index: 200;
}

.sideBar ul {
    height: 100%; 
    list-style: none; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.sideBar li {
    margin: 0.5rem 0;
}

.sideBar a {
    color: #2F2F2F;
    text-decoration: none; 
    font-size: 1.2rem;
}

.sideBar a:hover, 
.sideBar a:active {
    color: #C0C0C0;
}

// 4K Screens - 2560px 
@media screen and (max-width: 2560px) {
    .sideBar {
        width: 700px;
    }
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    .sideBar {
        width: 290px;
    }
}

// Mobile Medium - 375px 
@media screen and (max-width: 375px) {
    .sideBar {
        width: 250px;
    }
}

// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    .sideBar {
        width: 200px;
    }
}