// Footer Styles //
.footer {
    width: 100vw;
    overflow: hidden;
}

.footer_container {
    display: flex;
    height: 30vh; 
    background: #393f4d;
}

.footer_col {
    text-align: left;
    margin-left: 32em;
    margin-inline-end: -15em;
}

.footer_title {
    font-size: 1.7rem;
    color: #d4d4dc;
}

.footer_items {
    padding: 0px;
}

.footer_item {
    list-style-type: none;
    padding: 0.3rem; 
}

#items_pro {
    margin-top: -20px;
}

#items_socials {
    padding-left: 0px;
    margin-top: -20px;
}

.footer_link-item {
    color: #d4d4dc; 
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
}


// Media Queries // 

// 4k Screens
@media screen and (min-width: 2560px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 50em;
            margin-inline-end: -10em;

            #professional_heading {
                font-size: 3rem;
            }

            #items_pro {
                font-size: 2rem;
                margin-top: -2rem;

            }
        }

        #column_socials {


            #socials_heading {
                font-size: 3rem;
            }

            #items_socials {
                padding: 0px;
                font-size: 2rem;
                margin-top: -2rem;
            }
        }
    }
}

// Laptop Large - 1440px
@media screen and (max-width: 1440px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 24em;
            margin-inline-end: -14em;

            #professional_heading {
                font-size: 1.5rem;
            }

            #items_pro {
                font-size: 1rem;
                margin-top: -10px;
            }
        }

        #column_socials {

            #socials_heading {
                font-size: 1.5rem;
            }

            #items_socials {
                font-size: 1rem;
                margin-top: -10px;
            }
        }
    }

}

// Laptop - 1024px 
@media screen and (max-width: 1024px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 20em;
            margin-inline-end: -21em;

            #professional_heading {
                font-size: 1.2rem;
            }

            #items_pro {
                font-size: 0.7rem;
                margin-top: -14px;
            }
        }

        #column_socials {
            

            #socials_heading {
                font-size: 1.2rem;
            }

            #items_socials {
                font-size: 0.7rem;
                margin-top: -14px;
            }
        }
    }
}

// Tablet - 768px
@media screen and (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        height: 45vh;
        

        #column_pro {
            margin-left: 3em;
            margin-inline-end: -23em;
            margin-top: 20px;

            #professional_heading {
                font-size: 1.2rem;
            }

            #items_pro {
                font-size: 0.7rem;
                margin-top: -20px;
            }
        }

        #column_socials {
            margin-left: 3em;

            #socials_heading {
                font-size: 1.2rem;
                
            }

            #items_socials {
                font-size: 0.7rem;
                margin-top: -20px;
                
            }
        }
    }
        
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    .footer_container {
        display: column;
        height: 45vh;

        #column_pro {
            margin-left: 2em;
            margin-inline-end: -27em;
            margin-top: 20px;

            #professional_heading {
                font-size: 1rem;
            }

            #items_pro {
                font-size: 0.7rem;
                margin-top: -10px;
            }
        }

        #column_socials {
            margin-top: 0px;
            margin-left: 2em;

            #socials_heading {
                font-size: 1rem;
            }

            #items_socials {
                font-size: 0.7rem;
                margin-top: -10px;
            }
        }
    }

}

// Mobile Medium - 375px
@media screen and (max-width: 375px) {
    .footer_container {
        flex-direction: column;
        height: 40vh;


        #column_pro {
            margin-left: 2em;

            #professional_heading {
                font-size: 0.8rem;
            }

            #items_pro {
                font-size: 0.5rem;
                margin-top: -10px;
            }
        }

        #column_socials {
            margin-left: 2em;
            
            #socials_heading {
                font-size: 0.8rem;
            }

            #items_socials {
                font-size: 0.5rem;
                margin-top: -10px;
            }
        }
    }
}


// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    .footer_container {
        display: column;
        height: 35vh;


        #column_pro {
            margin-left: 1.5em;
            margin-top: 5px;

            #professional_heading {
                font-size: 0.8rem;
            }

            #items_pro {
                font-size: 0.5rem;
                margin-top: -10px;
            }
        }

        #column_socials {
            margin-left: 1.5em;
            margin-top: -10px;
            
            #socials_heading {
                font-size: 0.8rem;
            }

            #items_socials {
                font-size: 0.5rem;
                margin-top: -10px;
            }
        }
    }
}