// Footer Styles //
.footer {
    width: 100vw;
}

.footer_container {
    display: flex;
    height: 35vh; 
    background: red;
}

.footer_col {
    text-align: left;
    margin-left: 500px;
    margin-inline-end: -200px;
}

.footer_title {
    font-size: 1.7rem;
    color: #303030;
}

.footer_items {
    padding: 0px;
}

.footer_item {
    list-style-type: none;
    padding: 3px;
    padding-left: 0px;   
}

#items_pro {
    margin-top: -10px;
}

#items_socials {
    padding-left: 0px;
    margin-top: -10px;
}

.footer_link-item {
    color: #f0f0f0; 
    cursor: crosshair;
    padding: 0px;
}


// Media Queries // 

// 4k Screens
@media screen and (min-width: 2560px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 50em;
            margin-inline-end: -10em;

            #professional_heading {
                font-size: 4rem;
            }

            #items_pro {
                font-size: 2.8rem;
                margin-top: -2rem;
            }
        }

        #column_socials {


            #socials_heading {
                font-size: 4rem;
            }

            #items_socials {
                padding: 0px;
                font-size: 2.8rem;
                margin-top: -2rem;
            }
        }
    }
}

// Laptop Large - 1440px
@media screen and (max-width: 1440px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 22em;
            margin-inline-end: -14em;

            #professional_heading {
                font-size: 3rem;
            }

            #items_pro {
                font-size: 1.5rem;
            }
        }

        #column_socials {

            #socials_heading {
                font-size: 3rem;
            }

            #items_socials {
                font-size: 1.5rem;
            }
        }
    }

}

// Laptop - 1024px 
@media screen and (max-width: 1024px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 17em;
            margin-inline-end: -21em;

            #professional_heading {
                font-size: 2rem;
            }

            #items_pro {
                font-size: 1rem;
            }
        }

        #column_socials {
            

            #socials_heading {
                font-size: 2rem;
            }

            #items_socials {
                font-size: 1rem;
            }
        }
    }
}

// Tablet - 768px
@media screen and (max-width: 768px) {
    .footer_container {
        display: row;

        #column_pro {
            margin-left: 13em;
            margin-inline-end: -23em;

            #professional_heading {
                font-size: 1.5rem;
            }

            #items_pro {
                font-size: 1rem;
            }
        }

        #column_socials {

            #socials_heading {
                font-size: 1.5rem;
            }

            #items_socials {
                font-size: 1rem;
            }
        }
    }
        
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    .footer_container {
        display: column;

        #column_pro {
            margin-left: 5.5em;
            margin-inline-end: -25em;

            #professional_heading {
                font-size: 1rem;
            }

            #items_pro {
                font-size: 0.5rem;
            }
        }

        #column_socials {

            #socials_heading {
                font-size: 1rem;
            }

            #items_socials {
                font-size: 0.5rem;
            }
        }
    }

}

// Mobile Medium - 375px
@media screen and (max-width: 375px) {
    .footer_container {
        display: column;
        height: 35vh;


        #column_pro {
            margin-left: 2em;

            #professional_heading {
                font-size: 1rem;
            }

            #items_pro {
                font-size: 0.5rem;
            }
        }

        #column_socials {
            margin-left: 19em;
            margin-top: 7em;
            
            #socials_heading {
                font-size: 1rem;
            }

            #items_socials {
                font-size: 0.5rem;
            }
        }
    }
}


// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    .footer_container {
        display: column;
        height: 35vh;


        #column_pro {
            margin-left: 2em;

            #professional_heading {
                font-size: 1rem;
            }

            #items_pro {
                font-size: 0.5rem;
            }
        }

        #column_socials {
            margin-left: 19em;
            margin-top: 7em;
            
            #socials_heading {
                font-size: 1rem;
            }

            #items_socials {
                font-size: 0.5rem;
            }
        }
    }
}