// Style Rules
.nav_wrapper {
    width: 100vw;
    height: 10vh;
    background-color: grey; 
    overflow: hidden;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); 
}

.nav_container {
    display: flex;     
}

.resume_link {
    display: flex; 
    flex-direction: flex-start;

    #resume {
        text-decoration: none;
        color: whitesmoke;
    }
}

.bucket-list_link {
    display: flex; 
    flex-direction: flex-start;
    
    #bucket-list {
        text-decoration: none;
        color: whitesmoke;
    }
}

.github {
    display: flex; 
    justify-content: flex-end;
    
    #github {
        text-decoration: none;
        color: whitesmoke;
        
    }
}


// Media Queries 

// 4K Screens - 2560px 
@media screen and (max-width: 2560px) {
    #resume {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: 7em;
    }

    #bucket-list {
        font-size: 1.5rem;
        margin-top: -30px;
        margin-left: 15em;
    }

    #github {
        font-size: 1.5rem;
        margin-top: -30px;
        margin-right: 10em; 
    }
}

// Laptop Large - 1440px 
@media screen and (max-width: 1440px) {
    #resume {
        font-size: 1.5rem;
        margin-top: 35px;
        margin-left: 7em;
        
    }

    #bucket-list {
        font-size: 1.5rem; 
        margin-top: -28px;
        margin-left: 15em;
    }

    #github {
        font-size: 1.5rem; 
        margin-top: -28px;
        margin-right: 15rem;
    }
}

@media screen and (max-width: 1024px) {
    #resume {
        font-size: 1rem;
        margin-top: -3px;
        margin-left: -5rem;
    }

    #bucket-list {
        font-size: 1rem;
        margin-top: 0px;
        margin-left: -7rem;
    }

    #github {
        font-size: 1rem; 
        margin-top: 0px;
        margin-right: -5rem;
        
    }
}

@media screen and (max-width: 768px) {
    #resume {
        font-size: 1rem;
        margin-top: -3px;
        margin-left: -8rem;
    }

    #bucket-list {
        font-size: 1rem;
        margin-top: 0px;
        margin-left: -11rem;
    }

    #github {
        font-size: 1rem; 
        margin-top: 0px;
        margin-right: -6rem;
        
    }
}

// @media screen and (max-width: 425px) {
//     #resume {
//         font-size: 0.8rem;
//         margin-top: -1px;
//         margin-left: -9rem;
//     }

//     #bucket-list {
//         font-size: 0.8rem;
//         margin-top: 4px; 
//         margin-left: -14rem;
//     }

//     #github {
//         font-size: 0.8rem; 
//         margin-top: 4px;
//         margin-right: -9rem; 
//     }
// }

