// Style Rules

.nav_wrapper {
    width: 100vw;
    height: 8vh;
    background-color: #393f4d; 
    overflow: hidden;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); 
}

.nav_container {
    display: flex;     
}

.resume_link {
    display: flex; 
    flex-direction: flex-start;

    #resume {
        text-decoration: none;
        color: #d4d4dc;
    }
}

.bucket-list_link {
    display: flex; 
    flex-direction: flex-start;
    
    #bucket-list {
        text-decoration: none;
        color: #d4d4dc;
    }
}

.github {
    display: flex; 
    justify-content: flex-end;
    
    #github {
        text-decoration: none;
        color: #d4d4dc;   
    }
}

.headline_link {
    display: flex;
    justify-content: flex-start;
    
    #headline {
        text-decoration: none;
        color: whitesmoke;
    }
}

.nav_container a:hover, a:active {
    color: #1d1e22;
}



// Media Queries 

// 4K Screens - 2560px 
@media screen and (max-width: 2560px) {
    #headline {
        font-size: 1rem; 
        margin-top: 20px;
        margin-left: 1.5em;
    }

    #resume {
        font-size: 1rem;
        margin-top: -20px;
        margin-left: 10em;
    }

    #bucket-list {
        font-size: 1rem;
        margin-top: -20px;
        margin-left: 17em;
    }

    #github {
        font-size: 1rem;
        margin-top: -20px;
        margin-right: 15em; 
    }
}

// Laptop Large - 1440px 
@media screen and (max-width: 1440px) {
    #headline {
        font-size: 1rem; 
        margin-top: 30px;
        margin-left: 2em;
    }

    #resume {
        font-size: 1rem;
        margin-top: -19px;
        margin-left: 10em;
        
    }

    #bucket-list {
        font-size: 1rem; 
        margin-top: -19px;
        margin-left: 17em;
    }

    #github {
        font-size: 1rem; 
        margin-top: -19px;
        margin-right: 15rem;
    }
}

// Laptop - 1024px
@media screen and (max-width: 1024px) {
    #headline {
        font-size: 0.7rem; 
        margin-top: 20px;
        margin-left: 2em;
    }

    #resume {
        font-size: 0.7rem;
        margin-top: -14px;
        margin-left: 7rem;
    }

    #bucket-list {
        font-size: 0.7rem;
        margin-top: -14px;
        margin-left: 12rem;
    }

    #github {
        font-size: 0.7rem; 
        margin-top: -14px;
        margin-right: 10rem;  
    }
}

// Tablet - 768px
@media screen and (max-width: 768px) {
    #headline {
        display: flex;
        font-size: 0.9rem;
        margin-top: -21px;
        margin-left: 7em;
    }

    #resume {
        display: none;
    }

    #bucket-list {
        display: none;
    }

    #github {
        display: none; 
    }
}

// Mobile Large - 425px
@media screen and (max-width: 425px) {
    #headline {
        display: flex; 
        font-size: 0.9rem; 
        margin-top: -20px;
        margin-left: 6.5em;
    }

    #resume {
        display: none;
    }

    #bucket-list {
        display: none;
    }

    #github {
        display: none;
    }
}


// Mobile Medium - 375px 
@media screen and (max-width: 375px) {
    #headline {
        display: flex; 
        font-size: 0.8rem; 
        margin-top: -20px;
        margin-left: 6em; 
    }

    #resume {
        display: none;
    }

    #bucket-list {
        display: none;
    }

    #github {
        display: none;
    }
}

// Mobile Small - 320px 
@media screen and (max-width: 320px) {
    #headline {
        display: flex; 
        font-size: 0.8rem; 
        margin-top: -20px; 
        margin-left: 6em;
    }
}

// iPhone X - 375 x 812px 
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    #headline {
        display: flex; 
        font-size: 0.8rem; 
        margin-top: -20px; 
        margin-left: 6em;
    }
}

// iPhone X - 812 x 375px - Landscape 
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio) and (orientation: landscape) {
    .nav_wrapper {
        width: 100vw;
        height: 15vh;
        background-color: #393f4d; 
        overflow: hidden;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); 
    }

    .nav-container {
        display: flex; 
    }

    #headline {
        display: flex; 
        font-size: 0.8rem; 
        margin-top: -20px; 
        margin-left: 6em;
    }

    #resume {
        font-size: 0.8rem;
        margin-top: -20px;
        margin-left: 3rem;
    }

    #bucket-list {
        font-size: 0.8rem;
        margin-top: -20px;
        margin-left: 3rem;
    }

    .github {
        display: flex; 
        flex-direction: flex-end;
    }

    #github {
        font-size: 0.8rem; 
        margin-top: -20px;
        margin-left: 20rem;   
    }

}
